.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 20px;
    border: 0.72px solid #BBBBBB;
    width: 250.44px
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;

    height: 180px;
}